.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: auto;
}

.aboutMe {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  width: 60%;
}

.aboutMe h2 {
  color: #343F56;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.aboutMe p {
  color: #343F56;
  font-family: Trirong;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.aboutMe button {
  display: inline-flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 13px;
  background: #387C6D;
  box-shadow: 0px 4px 4px 0px #387C6D;
  color: #F8F5F1;
  text-align: center;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  width: 40%;
}

.skills h2 {
  color: #343F56;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.accordion {
  display: flex;
  width: 500px;
  height: 75px;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  background-color: #387C6D;
  color: #F8F5F1;
  font-family: Trirong;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.panel {
  background-color: #343F56;
  font-family: 'Trirong';
  display: none;
  overflow: hidden;
  width: 500px;
  color: #F8F5F1;
}

.panel p {
  margin: 16px;
}

.panel img {
  margin: 16px;
}

.softwareicons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}