body {
  background-color: #f8f5f1;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f8f5f1;
  z-index: 10;
}


.inline-block {
  width: 100%;
}

.logo {
  padding: 1%;
  white-space: nowrap;
}

.logo h1 {
  font-family: 'Megrim';
  font-size: 48px;
  text-align: start;
  margin: 0;
}

.logo a,
h1 {
  text-decoration: none;
  color: #343F56;
}

.navigation {
  width: auto;
  padding: 1%;
  display: flex;
  align-items: baseline;
}

.topnav {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topnav a {
  color: #343F56;
  text-align: center;
  padding: 18px 31px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Trirong';
}

.topnav a:hover {
  background-color: #343F56;
  color: #f8f5f1;
}

.topnav a.active {
  text-decoration: underline;
}

footer {
  background-color: #343F56;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
}

.rightAlign {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 16px;
}

footer img {
  width: 60px;
  height: 60px;
}

footer p {
  color: #f8f5f1;
  font-family: Trirong;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: right;
}

footer h1 {
  color: #F8F5F1;
  text-align: right;
  font-family: Megrim;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}