body {
<<<<<<< HEAD
  background-color: #f8f5f1;
=======
  background-color: #2C3531;
>>>>>>> 0d605c2046fed9ad6f78b2a5e557f0bd9565a59a
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
<<<<<<< HEAD
  background-color: #f8f5f1;
  z-index: 10;
}

=======
  background-color: #2C3531;
  z-index: 10;
}

body,
html {
  height: 100%;
}
>>>>>>> 0d605c2046fed9ad6f78b2a5e557f0bd9565a59a

.inline-block {
  width: 100%;
}

.logo {
  padding: 1%;
  white-space: nowrap;
}

.logo h1 {
  font-family: 'Megrim';
  font-size: 48px;
  text-align: start;
  margin: 0;
}

.logo a,
h1 {
  text-decoration: none;
<<<<<<< HEAD
  color: #343F56;
=======
  color: #D1E8E2;
>>>>>>> 0d605c2046fed9ad6f78b2a5e557f0bd9565a59a
}

.navigation {
  width: auto;
  padding: 1%;
  display: flex;
  align-items: baseline;
<<<<<<< HEAD
}

.topnav {
=======

}

.topnav {

>>>>>>> 0d605c2046fed9ad6f78b2a5e557f0bd9565a59a
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topnav a {
<<<<<<< HEAD
  color: #343F56;
=======
  color: #D1E8E2;
>>>>>>> 0d605c2046fed9ad6f78b2a5e557f0bd9565a59a
  text-align: center;
  padding: 18px 31px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Trirong';
}

.topnav a:hover {
<<<<<<< HEAD
  background-color: #343F56;
  color: #f8f5f1;
=======
  background-color: #116466;
  color: #D1E8E2;
>>>>>>> 0d605c2046fed9ad6f78b2a5e557f0bd9565a59a
}

.topnav a.active {
  text-decoration: underline;
}

footer {
<<<<<<< HEAD
  background-color: #343F56;
  display: flex;
  justify-content: flex-end;
=======
  background-color: #116466;
  display: flex;
  justify-content: flex-end;

>>>>>>> 0d605c2046fed9ad6f78b2a5e557f0bd9565a59a
  bottom: 0;
}

.rightAlign {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 16px;
}

footer img {
  width: 60px;
  height: 60px;
}

footer p {
<<<<<<< HEAD
  color: #f8f5f1;
=======
  color: #D1E8E2;
>>>>>>> 0d605c2046fed9ad6f78b2a5e557f0bd9565a59a
  font-family: Trirong;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: right;
<<<<<<< HEAD
}

footer h1 {
  color: #F8F5F1;
  text-align: right;
  font-family: Megrim;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
=======
>>>>>>> 0d605c2046fed9ad6f78b2a5e557f0bd9565a59a
}